# Dependencies
node_modules

# Environment variables
.env
backend/.env
frontend/.env

# Logs
*.log

# Build folders
dist
build

# OS files
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep